header {
	background: #9ACD32;
	height: 55px;
	margin: -17px -13px 20px -13px;
	box-shadow: 5px 5px 5px grey;
}

#header-text {
	padding: 15px 0 15px 20px;
	text-shadow: 2px 2px 2px white;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.container {
	margin: 10px 25px 10px 25px;
}

#label1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 30px;
	padding: 15px 20px 15px 0;
}

#image_selector {
	border-style: outset;
	border-radius: 10px;
	padding: 0 300px 0 0;
}

.btn-primary {
	margin: 10px 0 10px 0;
	padding: 10px 27px 10px 27px;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
}
.showImage {
	padding: 25px 100px;
}
.image_uploaded {
	width: 50%;
	height: auto;
	float: left;
	margin-top: 25px;
	margin-bottom: 25px;
}
.image_matched {
	width: 50%;
	height: auto;
	float: left;
	margin-top: 25px;
	margin-bottom: 25px;
}
.message {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	border-style: double;
	margin: 500px 150px 50px 150px;
	padding: 40px 20px 40px 20px;
}

footer {
	clear: both;
	text-align: center;
	font-size: 15px;
}


@media screen and (max-width: 900px) {
.container {
	margin: 10px;
}

#label1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;
	margin: 0 0 15px 0;
}

#image_selector {
	border-style: outset;
	border-radius: 10px;
	padding: 0 70px 0 0;
	margin-top: 10px;
}

.btn-primary {
	margin: 10px 0 10px 0;
	padding: 10px 27px 10px 27px;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	margin: 10px;
}
.showImage {
	padding: 0;
}
img {
	width: 100%;
}
.image_uploaded {
	width: 100%;
	height: auto;
	float: none;
	margin-top: 0px;
	margin-bottom: 10px;
}

.image_matched {
	width: 100%;
	height: auto;
	float: none;
	margin-top: 0px;
	margin-bottom: 5px;
}

.message {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	border-style: none;
	margin: 0;
	padding: 0 0 10px 0;
}

}